version: '3.7'
services:
    db:
        container_name: db
        build: ./postgres
        environment:
            POSTGRES_PASSWORD: example
        networks:
            - db
    php:
        container_name: php-fpm
        build: ./php7-fpm
        ports:
            - 9000:9000
        volumes:
            - ./symfony:/var/www/symfony
            - ./logs/symfony:/var/www/symfony/var/log
        depends_on: 
            - db
        networks:
            - db
            - php
            - redis
    nginx:
        container_name: nginx
        build: ./nginx
        ports:
            - 80:80
        depends_on: 
            - php
        networks:
            - php
        volumes:
            - ./logs/nginx:/var/log/nginx
            - ./symfony/public:/var/www/symfony/public
    redis:
        container_name: redis
        image: redis:alpine
        ports:
            - 6379:6379
        networks:
            - redis
    adminer:
        image: adminer:latest
        ports:
            - 8080:8080
        networks:
            - db
networks:
    db:
    php:
    redis: